.home-top-section {
    text-align: center;
    padding: 2rem;
  
    h2 {
      color: $primary-color;
    }
  
    .top-right-line {
      border-top: 2px solid $primary-color;
    }
  }
  
  .home-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  
    .grid-element {
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }
  